@font-face {
    font-family: 'Bungee';
    src: url('/font/Bungee-Regular.woff2') format('woff2'),
        url('/font/Bungee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.header{
    background-color: #232323;
}

.headerTitle{
    font-family: 'Bungee';
    font-weight: normal;
    font-style: normal;
}